* {
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 1280px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;    
    
}

.header {
    padding: 26px 0;
}

.header-navigation ul {
    text-align: center;
}

.header-navigation li {
    display: inline;
    margin: 0 36px;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    cursor: pointer;
}

.banner {
    width: 1280px;
    height: 789px;
    display: block;
    margin: 0 auto;   
}

.main {    
    color: #373737;
    padding-top: 48px;  
    text-align: center; 
        
}

.main-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 3.3px;    
    
}

.main-conteiner {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px; 
    margin: 0 68px;     
}
 
.main-paragrph-first {     
    margin-top: 38px;        
}

.main-paragrph-second {   
    margin-top: 28px;        
}

.main-button {
    display: block;
    box-sizing: border-box;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin: 66px auto 0 auto;
    padding: 20px 0 20px 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    
}

.footer {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;       
    color: #373737;
    text-align: right;
    margin: 82px 105px 29px 0;
}
